.footer-custom::after {
    content: "";
    position: absolute;
    top: -386px;
    left: 0;
    width: 100%;
    height: 388px;
    background: #000;
    transform: skewY(10deg);
    transform-origin: top left;
    z-index: 1;
}