.oradores-section {
	color: #E1E1E1;
}

.oradores-section .display-1 {
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

h3{
    font-size: 4.25rem;
    font-weight: 400;
}

h4{
    font-size: 1.625rem;
    font-weight: 400;
}

.oradores-section .nomes li::after {
    background: #E1E1E1;
}

.big-title{
    font-size: 4rem;
    font-weight: 400;
    display: inline-block;
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .big-title {
        font-size: 6.875rem;
    }
}

.sticky-oradores {
    position: sticky;
    top: 90px;
    z-index: 99;
    border-bottom: 0.25px solid #000000;
}