.oradores-section {
	color: #E1E1E1;
}

.oradores-section .display-1 {
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    overflow-y: hidden;
}

.direito {
    min-height: 700px;
}

h3{
    font-size: 4.25rem;
    font-weight: 400;
}

h4{
    font-size: 1.625rem;
    font-weight: 400;
}

.oradores-section .nomes li::after {
    background: #E1E1E1;
}

.big-title{
    font-size: 4rem;
    font-weight: 400;
    display: inline-block;
    margin-right: 0.5rem;
}

.nomes li img {
    height: 3rem;
    vertical-align: middle;
}

.nomes li:last-child {
    margin-top: 4rem;
}

.nomes li:last-child::after {
    bottom: -2rem;
}

@media (min-width: 768px) {
    .big-title {
        font-size: 6.875rem;
    }
}

@media (max-width: 768px) {
.sticky-oradores {
    position: sticky;
    z-index: 99;
    border-bottom: 0.25px solid #000000;
    top: 65px;
}

.direito {
    min-height: 550px;
}